html {
  font-size: 10px;
  font-family: "Josefin Sans", sans-serif;
  height: 100%;
  width: 100%;
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.sidebar-container {
  flex: 1;
}

.content-container {
  flex: 5;
  overflow-y: auto;
  background-color: #f0f0f0;
  padding: 4rem;
}

h1 {
  font-size: 4rem;
  margin-bottom: 3rem;
  color: #42b983;
  margin: 0;
}

.primary-button {
  background-color: #42b983;
  min-width: 15rem;
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #369870;
  }
}

.secondary-button {
  background-color: #35495e;
  min-width: 15rem;
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #2c3e50;
  }
}

.danger-button {
  background-color: #dc4446;
  min-width: 15rem;
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #e86e6b;
  }
}
